<section class="homepage">
  <div class="homepage_info">
    <h1>Bem vindo ao Marketplace</h1>

    <%= link_to 'Registre-se', new_user_registration_path, class: 'button is-link is-rounded' %>
    <%= link_to 'Login', new_user_session_path, class: 'button is-link is-rounded' %>
  </div>
</section>
