<div class="control search_form">
  <%= form_with(url: :search, method: :get) do %>
    <%= label_tag(:q, "Procurar", class: 'label') %>
    <%= text_field_tag(:q, "", class: 'input') %>
    <%= submit_tag("Buscar", class: 'button is-rounded is-link') %>
  <% end %>
</div>
