<section class="comments">
  <div class='comment_body' %>
    <p><%= commentable.body %></p>
    <p class='commenter'> <%= commentable.user.name %></p>
  </div>

  <div id="response_form">
    <div class='response_body'>
      <%= render partial: 'comments/comments', locals: {commentable: commentable} %>
    </div>
    <%= render partial: 'comments/form', locals: {commentable: commentable} %>
  </div>
</section>
