<h1>Seu Perfil</h1>
<p>Apenas usuários com o perfil completo podem comprar ou vender</p>

<%= link_to 'Edite seu perfil', edit_user_registration_path %>

<%= @user.name %>
<%= @user.surname %>
<%= @user.department %>
