<section class="orders">
  <h1>Vendas e compras</h1>
  <div class="orders-info">
    <% @user_orders.each do |order| %>
      <p><%= link_to order.product.name, order %></p>
      <p><%= order.status %></p>
    <% end %>
  </div>

  <%= link_to 'Voltar', root_path %>
</section>
