<%= link_to 'Anuncie um produto', new_product_path %>
<%= link_to 'Outros colaboradores', users_path %>
<h1>Produtos</h1>

<% @products.each do |product| %>
  <% if product.image.attached? %>
    <%= image_tag(product.image) %>
  <% end %>
  <%= link_to product.name, product %>
<% end %>
