<section class="products_container" %>

<%= render 'layouts/shared/search_form' %>

<div class="products_header">
  <h1>Produtos a venda</h1>
</div>

<% @products.each do |product| %>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <% if product.image.attached? %>
        <%= image_tag(product.image) %>
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p><%= link_to product.name, product, class: 'title is-4' %></p>
      </div>
    </div>

    <div class="content">
      <%= link_to 'Saiba mais', product, class: 'button is-link' %>
    </div>
  </div>
</div>
<% end %>

</section>
